.Palette {
  height: 100vh;
}
.Palette-colors {
  height: 90%;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}
.rc-slider-rail {
  height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}
